article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

body {
	height: 100%;
}

.wrapper {
	margin: 0 auto;
}

.content-wrapper {
	position: relative;
	display: block;
	width: auto;
	max-width: 1170px;
	margin: 0 auto;
}

/* Main screen-------------------------------------------------- */

.main-screen {
	position: relative;
	width: 100%;
	height: 720px;
	background: url(../img/bg-main.jpg) 0 0 no-repeat;
	background-size: cover;
	margin-bottom: 140px;
}

/* Header-------------------------------------------------- */

.header {
	position: relative;
	height: 65px;
}

.header .logo {
	position: absolute;
	left: 0;
	bottom: 12px;
}

.header .logo img {
	display: block;
	width: auto;
	height: 19px;
}

.header .main-menu {
	position: absolute;
	width: auto;
	text-align: right;
	right: 0;
	bottom: 0;
	left: 140px;
}

.header .main-menu .menu-list {
	list-style: none;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
}

.header .main-menu .menu-item {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	height: 100%;
}

.header .main-menu .menu-item a {
	display: block;
	height: 100%;
	text-decoration: none;
	color: #fff;
	padding: 0 20px;
}

.header .main-menu .menu-item.hamburger {
	position: relative;
	margin-left: 20px;
	width: 16px;
	height: 12px;
	cursor: pointer;
}

.header .main-menu .menu-item.hamburger span {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	width: 16px;
	height: 2px;
}

.header .main-menu .menu-item.hamburger span::before {
	content: '';
	width: 16px;
	height: 2px;
	position: absolute;
	top: 5px;
	left: 0;
	background: #fff;
}

.header .main-menu .menu-item.hamburger span::after {
	content: '';
	width: 16px;
	height: 2px;
	position: absolute;
	top: 10px;
	left: 0;
	background: #fff;
}

.header .main-menu .menu-item a:hover,
.header .main-menu .menu-item.active a {
	background-color: #fff;
	border-radius: 5px;
	color: #010101;
	text-transform: uppercase;
}

.main-screen .container {
	position: relative;
}

.main-screen .left-box {
	display: inline-block;
	vertical-align: top;
	max-width: 570px;
	margin-right: 15px;
	margin-top: 164px;
}

.main-screen .left-box h1 {
	max-width: 515px;
}

/* Buttons
--------------------------------- */

.button {
	display: inline-block;
	box-sizing: border-box;
	height: 40px;
	width: auto;
	margin: 0;
	padding: 0 18px;
	line-height: 40px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	font-family: Nunitosans, Arial, sans-serif;
	font-style: 17px;
	color: #fff;
	background: linear-gradient(45deg, #ff8e64, #ffe641);
}

.button.empty {
	background: #fff;
	color: #000;
}

.button.inverted {
	background: linear-gradient(45deg, #009fc5, #3cecb0);	
}

.button.play {
	width: 132px;
	height: 132px;
	background: url(../img/icon-play-button.png) no-repeat 0 0;
}

.button:active {
	transform: translate(1px, 1px);
}

.main-screen .left-box .buttons {
	margin-top: 40px;
}

.main-screen .left-box .button.empty {
	margin-left: 16px;
}

.main-screen .right-box {
	display: inline-block;
	vertical-align: top;
	max-width: 570px;
	margin-top: 75px;
	margin-left: 65px;
}

.main-screen .right-box img {
	display: block;
	width: auto;
	height: 718px;
}

/* Middle---------------------------------------- */

.content {}

/* Footer---------------------------------------- */

.footer {
	height: 110px;
	background: lightgreen;
}