article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

body {
	height: 100%;
}

.wrapper {
	margin: 0 auto;
}

.content-wrapper {
	position: relative;
	display: block;
	height: 100%;
	max-width: 1170px;
	margin: 0 auto;
}


/* Main screen-------------------------------------------------- */

.main-screen {
	position: relative;
	display: block;
	width: 100%;
	background: url(../img/bg-main.jpg) 0 -140px no-repeat;
	background-size: 100% 100%;
	margin-bottom: 105px;
}


/* Header-------------------------------------------------- */

.header {
	position: relative;
	height: 65px;
}

.header .logo {
	position: absolute;
	left: 0;
	bottom: 12px;
}

.header .logo img {
	display: block;
	width: auto;
	height: 19px;
}

.header .main-menu {
	position: absolute;
	width: auto;
	text-align: right;
	right: 0;
	bottom: 0;
	left: 140px;
}

.header .main-menu .menu-list {
	list-style: none;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
}

.header .main-menu .menu-item {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	height: 100%;
}

.header .main-menu .menu-item a {
	display: block;
	height: 100%;
	text-decoration: none;
	color: #fff;
	padding: 0 20px;
}

.header .main-menu .menu-item.hamburger {
	position: relative;
	margin-left: 20px;
	width: 16px;
	height: 12px;
	cursor: pointer;
}

.header .main-menu .menu-item.hamburger span {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	width: 16px;
	height: 2px;
}

.header .main-menu .menu-item.hamburger span::before {
	content: '';
	width: 16px;
	height: 2px;
	position: absolute;
	top: 5px;
	left: 0;
	background: #fff;
}

.header .main-menu .menu-item.hamburger span::after {
	content: '';
	width: 16px;
	height: 2px;
	position: absolute;
	top: 10px;
	left: 0;
	background: #fff;
}

.header .main-menu .menu-item a:hover,
.header .main-menu .menu-item.active a {
	background-color: #fff;
	border-radius: 5px;
	color: #010101;
	text-transform: uppercase;
}

.main-screen .container {
	position: relative;
	display: block;
}

.main-screen .left-box {
	display: inline-block;
	vertical-align: top;
	max-width: 570px;
	margin-right: 15px;
	margin-top: 164px;
}

.main-screen .left-box h1 {
	max-width: 515px;
}


/* Buttons
--------------------------------- */

.button {
	display: inline-block;
	box-sizing: border-box;
	height: 40px;
	width: auto;
	max-width: 250px;
	margin: 0;
	padding: 0 18px;
	line-height: 40px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	font-family: Nunitosans, Arial, sans-serif;
	font-size: 17px;
	font-weight: 700;
	color: #fff;
	background: linear-gradient(45deg, #ff8e64, #ffe641);
	cursor: pointer;
}

.button.empty {
	background: #fff;
	color: #000;
}

.button.inverted {
	background: linear-gradient(45deg, #009fc5, #3cecb0) 0 0 no-repeat;
}

.button.play {
	width: 132px;
	height: 132px;
	background: url(../img/icon-play-button.png) no-repeat 0 0;
}

.button:active {
	transform: translate(1px, 1px);
}

.main-screen .left-box .buttons {
	margin-top: 40px;
}

.main-screen .left-box .button.empty {
	margin-left: 16px;
}

.main-screen .right-box {
	display: inline-block;
	vertical-align: top;
	max-width: 570px;
	margin-top: 75px;
	margin-left: 65px;
	max-height: 718px;
}

.main-screen .right-box img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.works {
	position: relative;
	display: block;
	text-align: center;
	margin-bottom: 120px;
}

.works .container {
	margin-top: 70px;
}

.works .work {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	max-width: 370px;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	margin: 10px;
	padding: 62px 34px 70px;
}

.works .work p {
	margin-bottom: 50px;
	line-height: 25px;
}

.works .work a {
	color: #469af4;
}

.brands {
	position: relative;
	display: block;
	text-align: center;
}

.brands .container {
	box-sizing: border-box;
	min-height: 180px;
	background-color: #fff;
	border-top: 1px solid #f5f5f6;
	border-bottom: 1px solid #f5f5f6;
}

.brands .container img {
	margin: 80px 25px;
}

.tablet {
	position: relative;
	display: block;
	margin-bottom: 120px;
}

.tablet .left-box {
	display: inline-block;
	vertical-align: top;
	max-width: 570px;
	height: auto;
	margin-right: 15px;
	margin-top: 234px;
}

.tablet .left-box .advantage {
	position: relative;
	display: block;
	box-sizing: border-box;
	max-width: 470px;
	height: auto;
	padding: 30px;
}

.tablet .left-box .advantage.bordered {
	background: #fff;
	border-radius: 10px;
}

.tablet .left-box .advantage img {
	position: absolute;
	left: 30px;
	top: 35px;
	width: 24px;
	height: 24px;
}

.tablet .left-box .advantage .content {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding-left: 40px;
}

.tablet .left-box .advantage p {
	font-size: 14px;
	line-height: 25px;
}

.tablet .left-box .advantage h4 {
	font-size: 16px;
}

.tablet .right-box {
	display: inline-block;
	vertical-align: top;
	max-width: 570px;
	margin-top: 120px;
	margin-left: 180px;
	max-height: 718px;
}

.tablet .right-box img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.download {
	position: relative;
	display: block;
	width: 100%;
	min-height: 280px;
	background: url(../img/bg-main.jpg) top center no-repeat;
	background-size: cover;
}

.download .left-box h3 {
	font-size: 35px;
	color: #fff;
	margin-bottom: 25px;
}

.download .left-box p {
	font-size: 16px;
	line-height: 30px;
	color: #fff;
	margin: 0;
}

.download .left-box {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 49%;
	height: auto;
	margin-top: 95px;
}

.download .right-box {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	text-align: right;
	width: 49%;
	height: auto;
	margin-top: 115px;
}

.download .right-box .buttons {
	display: block;
	width: 100%;
}

.download .right-box .buttons .button {
	min-width: 170px;
}

.download .right-box .buttons .button.empty {
	margin-left: 20px;
}

.grid {
	position: relative;
	display: block;
	width: 100%;
	margin: 120px 0;
	font-size: 0;
	text-align: center;
}

.grid .column-first,
.grid .column-second {
	display: block;
	min-width: 590px;
}

.grid .column-first .image,
.grid .column-second .image {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 585px;
	height: 590px;
	background: url(../img/bg-main.jpg) 0 0 no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 90px 85px 0;
	margin: 0 auto;
}

.grid .column-first .image img,
.grid .column-second .image img {
	display: block;
	width: 100%;
	height: auto;
}

.grid .column-first .text,
.grid .column-second .text {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 585px;
	height: 590px;
	text-align: center;
	padding: 180px 100px;
	background-color: #fff;
	margin: 0 auto;
}

.grid .column-first .text h3,
.grid .column-second .text h3 {
	font-size: 35px;
	line-height: 50px;
}

.grid .column-first .text p,
.grid .column-second .text p {
	font-size: 16px;
	line-height: 30px;
}

.watch-video {
	display: block;
	width: 100%;
	min-height: 520px;
	box-sizing: border-box;
	text-align: center;
	background: url(../img/bg-watch-video.png) center center no-repeat, linear-gradient(45deg, #7956ec, #2fb9f8);
	background-size: 100%;
	margin: 120px 0;
}

.watch-video .content-wrapper {
	padding: 120px 300px;
	box-sizing: border-box;
}

.watch-video h2 {
	color: #fff;
}

.watch-video p {
	font-size: 16px;
	line-height: 35px;
	color: #fff;
}

.customers {
	display: block;
	width: 100%;
	height: 820px;
}

.customers .container {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.customers .left-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 500px;
	height: 100%;
	text-align: left;
}

.customers .left-box .title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	height: 50%;
}

.customers .left-box .title img {
	display: block;
	width: 88px;
	height: auto;
}

.customers .left-box .title h2 {
	margin-top: 60px;
	line-height: 50px;
}

.customers .left-box .read-more {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	height: 50%;
}

.customers .left-box .read-more .reviews {
	margin-bottom: 34px;
	font-size: 15px;
	line-height: 50px;
	color: #999ea8;
}

.customers .left-box .read-more a {
	position: relative;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 15px;
	font-weight: 800;
	line-height: 50px;
	color: #282b31;
	padding-left: 34px;
}

.customers .left-box .read-more a::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 24px;
	height: 10px;
	background: url(../img/icon-arrow.png) 0 0 no-repeat;
}

.customers .right-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 670px;
	height: 100%;
	text-align: left;
}

.customers .right-box .feedback {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 570px;
	height: 180px;
	padding: 30px;
	box-sizing: border-box;
	background: #fff;
	border-radius: 10px;
}

.customers .right-box .feedback:nth-child(even) {
	align-self: flex-end;
	margin: 20px 0;
}

.customers .right-box .feedback.right {
	text-align: right;
}

.customers .right-box .feedback.right p {
	padding: 0 30px 25px 0;
}

.customers .right-box .feedback .column-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	color: #999ea8;
	box-sizing: border-box;
	border-bottom: 1px solid #e7e8ea;
}

.customers .right-box .feedback .column-top img {
	display: block;
	min-width: 50px;
	min-height: 50px;
	border-radius: 25px;
	overflow: hidden;
}

.customers .right-box .feedback .column-bot {
	display: flex;
	justify-content: space-between;
	color: #999ea8;
	box-sizing: border-box;
	padding-top: 10px;
}

.customers .right-box .feedback .column-bot .name,
.customers .right-box .feedback .column-bot .position {
	font-size: 12px;
	line-height: 25px;
}

.customers .right-box .feedback .column-bot .name {
	font-weight: 700;
}

.customers .right-box .feedback p {
	position: relative;
	font-size: 14px;
	font-style: italic;
	color: #282b31;
	line-height: 25px;
	box-sizing: border-box;
	padding-left: 30px;
	padding-bottom: 25px;
	margin: 0;
}

.plan {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 750px;
	padding: 120px 0;
	border-top: 1px solid #f2f3f5;
}

.plan .container {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.plan .left-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	max-width: 500px;
	padding-right: 130px;
}

.plan .left-box p {
	line-height: 30px;
}

.plan .right-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 670px;
}

.plan .right-box .type {
	box-sizing: border-box;
	padding: 12px 0;
	text-align: center;
	width: 100%;
	font-weight: 800;
	font-size: 11px;
	line-height: 15px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: rgba(248, 249, 250, 0.3);
	border-top: 1px solid rgba(248, 249, 250, 0.3);
	border-bottom: 1px solid rgba(248, 249, 250, 0.3);
}

.plan .right-box .white .type {
	color: #676c75;
	background: rgba(248, 249, 250, 1);
}

.plan .right-box .colored {
	width: 350px;
	height: 510px;
	background: url(../img/bg-main.jpg) 0 0 no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 50px 0 60px;
	border-radius: 10px;
}

.plan .right-box .colored .button {
	width: 250px;
}

.plan .right-box .white .button {
	width: 235px;
}

.plan .right-box .white {
	width: 320px;
	height: 470px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 50px 0 60px;
	background-color: #fff;
	border-radius: 0 10px 10px 0;
	border-top: 1px solid rgba(32, 33, 39, 0.12);
	border-right: 1px solid rgba(32, 33, 39, 0.12);
	border-bottom: 1px solid rgba(32, 33, 39, 0.12);
}

.plan .right-box .colored .price {
	color: #fff;
	font-size: 60px;
	line-height: 82px;
	font-weight: 300;
}

.plan .right-box .white .price {
	color: #282b31;
	font-size: 40px;
	line-height: 54px;
	font-weight: 300;
}

.plan .right-box .list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 250px;
}

.plan .right-box .list-item {
	position: relative;
	margin: 0;
	padding-left: 26px;
	height: 100%;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
}

.plan .right-box .list-item::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 16px;
	height: 12px;
	background: url(../img/icon-apply.png) 0 0 no-repeat;
}

.plan .right-box .white .list-item {
	color: #676c75;
}

.plan .right-box .white .list-item::before {
	background: url(../img/icon-apply2.png) 0 0 no-repeat;
}

/* Footer---------------------------------------- */

.footer {
	height: 110px;
	background: lightgreen;
}