body {
	font-family: Nunitosans, Arial, sans-serif;
	font-weight: 400;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.clearfix::after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

.wrapper {
	margin: 0 auto;
}

.content-wrapper {
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: relative;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

/* Form */

.button {
	display: inline-block;
	box-sizing: border-box;
	height: 50px;
	width: auto;
	margin: 0;
	padding: 0 20px;
	line-height: 50px;
	background: #ff8e64;
	background-image: linear-gradient(45deg, #ff8e64, #ffe641);
	border: none;
	border-radius: 5px;
	text-decoration: none;
	font-family: Nunitosans, Arial, sans-serif;
	color: #fff;
	font-size: 17px;
	outline: none;
	cursor: pointer;
}

.button:active {
	transform: translate(1px, 1px);
}

.button.inverted {
	background: #009fc5;
	background-image: linear-gradient(45deg, #009fc5, #3cecb0);
}

.button.empty {
	background: #fff;
	color: #000;
}

.button.play {
	background: transparent;
	background-image: url(../img/icon-play-button2.png);
	border-radius: 35px;
	width: 132px;
	height: 132px;
	padding: 0;
}

.header {
	background: url(../img/bg-main-screen.jpg) no-repeat center top / cover;
	height: 720px;
	margin-bottom: 200px;
}

.header-logo {
	margin-top: 36px;
	float: left;
}

.menu {
	float: right;
	margin-top: 38px;
}

.menu-items {
	padding: 0;
	margin: 0;
	display: block;
}

.menu-items .menu-item {
	float: left;
	display: block;
	margin-right: 32px;
}

.menu-items a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}

/* Footer */

.footer {
	height: 110px;
	background: lightgreen;
}